<launch>
  <!-- Launch the racecar simulator -->
  <include file="$(find localization-solution)/launch/localize_simulation.launch"/>
 
  
  <!-- Begin rrt for path planning -->
  <node pkg="obstacle_avoidance" type="mvp.py" name="mvp" output="screen">
    <rosparam command="load" file="$(find obstacle_avoidance)/avoidance_mvp_params.yaml"/>
  </node>
</launch>